.header {
  padding: 8.6rem 0 8rem 0;
  background: var(--black);
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.sectionContainer{
  width: min(136rem, 100%);
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  gap: 2.4rem;

  grid-template-columns: 70fr 30fr;
  align-items: center;
}


@media screen and (width > 1712px){
  .title{
    font-size: 12.8rem;
    max-width: 20ch;
  }
}

.textContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rocketContainer{
  position: absolute;
  top: 100%;
}

.rocket{
  color: var(--yellow);
  font-size: 16rem;
}

.paragraph{
  font-size: clamp(1.4rem, 0.9315rem + 0.7423vw, 1.5625rem);
  line-height: 1.5;
  width: min(75ch ,100%);
  text-wrap: pretty;
  color: var(--white);
}


.secondaryTitleContainer{
  display: flex;
}

.descrambleText{
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: flex-start;
  margin-top: 1.6rem;
  position: relative;
}

.rocketIcon{
  color: var(--white);
  position: absolute;
  font-size: 2.4rem;
}

.descrambleText h1 {
	visibility:hidden;
	padding:0;
	font-size: clamp(4.8rem, 2rem + 7vw, 9.8rem);  
  line-height: 1.05;
  color: var(--white);
	display:flex;
  align-items: center;
  overflow:hidden;
  letter-spacing: 0.03em;
  text-wrap: balance;
}

.descrambleText h1 div{
  position: relative;
	display:inline-block;
}

.descrambleText h1 div::before {
	position:absolute;
	top:0;
	left:0;
	content:attr(data-char);
	transform:translateY(-100%);
}

.btn{
  cursor: pointer;
  font-size: 1.4rem;
  background: linear-gradient(
    90deg,
    rgba(77, 54, 208, 1) 0%,
    rgba(132, 116, 254, 1) 100%
  );
  background: #000;
  color: white;
  border: solid 1.5px var(--purple);
  padding: 1rem 2.4rem;
  font-weight: 600;
  position: relative;
  margin-top: 2rem;
}


@media screen and (width< 1080px) {
  .sectionContainer{
    grid-template-columns: 1fr;
    align-items: center;
  }
}
