.header {
  padding: 8.6rem 0 8rem 0;
  background: var(--black);
  /* height: min(100vh, 100px); */
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.sectionContainer{
  width: min(136rem, 100%);
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  gap: 2.4rem;

  grid-template-columns: 70fr 30fr;
  align-items: center;
}

.title{
  font-size: clamp(4.8rem, 2rem + 5vw, 9.8rem);
  max-width: 20ch;
  line-height: 1;
  margin-bottom: 1rem;
  color: var(--white);
}

.imageContainer{
  position: relative;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}

.absoluteTitleOne{
  top: 15%;
  right: -100px;
}
.absoluteTitleTwo{
  top: 45%;
  right: -50px;
}

.absoluteTitleOne,
.absoluteTitleTwo{
  position: absolute;
  font-size: 18.8rem;
  color: var(--white);
  color: transparent;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: var(--white);
  z-index: -1;
  opacity: 0.15;
}


@media screen and (width > 1712px){
  .title{
    font-size: 12.8rem;
    max-width: 20ch;
  }
}

.imageContainer{
  width: 100%;
}

.image{
  width: min(100%, 300px);
  height: 100%;
  object-fit: contain;
}

.textContainer{
  display: flex;
  flex-direction: column;
}


.btnContainer {
  position: relative;
  display: inline-block;
  margin-top: 2rem;
}

.btn {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.01em;
  color: var(--white);
  padding: 1.2rem 3.2rem;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.rocketContainer{
  position: absolute;
  top: 100%;
}

.rocket{
  color: var(--yellow);
  font-size: 16rem;
}

@media screen and (width< 900px) {
  .container {
    grid-template-columns: 1fr;
  }
}
@media screen and (width< 800px) {
  .sectionContainer{
    grid-template-columns: 1fr;
    align-items: center;
  }
  .imageContainer{

    display: flex;
    justify-content: center;
  }
}