.header {
  padding: 8.6rem 0 8rem 0;
  background: var(--black);
  height: min(100vh, 1200px);
  position: relative;
}

.sectionContainer{
  width: min(136rem, 100%);
  margin: 0 auto;
  padding: 0 2rem;
}

.textContainer{
  display: flex;
  flex-direction: column;
}


.btnContainer {
  position: relative;
  display: inline-block;
  margin-top: 2rem;
}

.btn {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.01em;
  color: var(--white);
  padding: 1.2rem 3.2rem;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.promiseTitle{
  color: var(--white);
  /* text-align: center; */
  font-size: clamp(1.4rem, 1.1548rem + 0.5261vw, 1.5625rem);
  font-weight: 600;
}

.rocketContainer{
  position: absolute;
  top: 100%;
}

.rocket{
  color: var(--yellow);
  font-size: 16rem;
  
}


@media screen and (width< 900px) {
  .container {
    grid-template-columns: 1fr;
  }
}