.headerContainer{
  /* height: 100vh; */
  height: min(100vh, 1100px);
  padding: 4.8rem 2rem;
  position: relative;
  overflow: hidden ;

  /* background: conic-gradient(#130231,#3B0697 );  */
  background: #0B0C18;
  background: var(--dark-bg);
  background-position: 75% center;
  background-size: 200% 200%;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (width < 800px) {
  .flexContainer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .headerContainer{
    padding: 6rem 2rem;
  }
}
