.tag{
  padding: .4rem .6rem;
  border-radius: 3px;
  font-weight: 600;
}

.greenTag{
  color:var(--green);
  background: var(--green-bg);
  border: 1px solid var(--green);
}
.purpleTag{
  color:var(--purple);
  background: var(--purple-bg);
  border: 1px solid var(--purple);
}
.yellowTag{
  color:var(--yellow);
  background: var(--yellow-bg);
  border: 1px solid var(--yellow);
}
.blueTag{
  color:var(--blue);
  background: var(--blue-bg);
  border: 1px solid var(--blue);
}
.whiteTag{
  color:var(--white);
  background: var(--white-bg);
  border: 1px solid var(--white);
  background: #ffffff63;
}
.orangeTag{
  color:var(--orange);
  background: var(--orange-bg);
  border: 1px solid var(--orange);

}