.container{
  background: var(--dark-purple);
  color: var(--white);
  /* padding-top: clamp(4.32rem, 2.5617rem + 8.7913vw, 9.375rem);
  padding-bottom: clamp(4.32rem, 2.5617rem + 8.7913vw, 9.375rem); */
}

.titleContainer{
  text-align: center;
  padding: 4rem 0;
}

.titleContainer > h2{
  --text-size: clamp(4.6rem, 2.745rem + 5vw, 9.6rem);
  font-size: var(--text-size);
  line-height: 1;
}
.titleContainer > h3{
  font-size: 2rem;
  font-style: italic;
  line-height: 1.5;
}
.containerMiniTitle{
  font-size: clamp(1.8rem, 1rem + 0.75vw, 2.4rem);
  letter-spacing: 0.05em;
  font-weight: 300;
  color: hsl(0, 0%, 75%);
  color: var(--white);
  opacity: .8;
  text-align: center;

  padding-top: 2.4rem;
}


.gridContainer{
  display: grid;
  grid-template-columns: 50fr 50fr;
  gap: 4rem;
  padding: 4rem 0;
}

.steps{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.stepsTitle{
  font-size: 3.2rem;
  font-size: clamp(1.8rem, 1.3rem + 1.8vw, 3.2rem);
  line-height: 1.2;
}

.stepsContainer{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


@media screen and ( width < 1080px){
  .gridContainer{
    grid-template-columns: 1fr;
  }
}


