.container{
  background: var(--dark-purple);
  color: var(--white);
  padding: 8rem 2rem;
}

.titleContainer{
  text-align: center;
  padding: 4rem 0;
}

.titleContainer > h2{
  --text-size: clamp(4.6rem, 2.745rem + 5vw, 9.6rem);
  font-size: var(--text-size);
  line-height: 1;
}
.titleContainer > h3{
  font-size: 2rem;
  font-style: italic;
  line-height: 1.5;
}
.titleContainer > p{
  font-size: clamp(1.2rem, .8rem + 0.65vw, 1.6rem);
  letter-spacing: 0.13em;
  font-weight: 300;
  color: hsl(0, 0%, 75%);
}


.gridContainer{
  display: grid;
  grid-template-columns: 50fr 50fr;
  gap: 4rem;
  padding: 4rem 0;
}

@media screen and ( width < 1080px){
  .gridContainer{
    grid-template-columns: 1fr;
  }
}

.steps{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.steps h4{
  font-size: 3.2rem;
  font-size: clamp(1.8rem, 1.3rem + 1.8vw, 3.2rem);
  line-height: 1.2;
}

.stepsContainer{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.step{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.step h5{
  /* font-size: 2rem; */
  font-size: clamp(1.2656rem, 1.0541rem + 1.0577vw, 1.9531rem);
  font-style: italic;
  cursor: pointer;
}
.step p{
  font-size: clamp(0.9492rem, 0.7605rem + 0.9435vw, 1.5625rem);
  width: min(60ch, 100%);
  /* text-indent: 3rem each-line; */
  padding-left: 3rem;
  color: var(--white-faint);
}

.image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

