.servicesContainer{
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 1fr;
  gap: 1.2rem;
}

@media screen and (width < 950px){
  .servicesContainer{
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (width < 650px){
  .servicesContainer{
    grid-template-columns: 1fr;
  }
}
