
.titleContainer > h3{
  font-size: 2rem;
  font-size: clamp(1.62rem, 1.5175rem + 0.5125vw, 1.9531rem);
  font-style: italic;
  color: var(--purple);
}

.titleContainer > h2{
  font-size: clamp(3.2rem, 1.5877rem + 7vw, 9.375rem);
  line-height: 1;
  margin-bottom: 1rem;
}

.titleContainer > p{
  font-size: clamp(1.08rem, 0.9315rem + 0.7423vw, 1.5625rem);
  line-height: 1.5;
  width: min(70ch ,100%);
  text-wrap: pretty;
  margin-bottom: 1rem;
  color: var(--text-color);
}

