.sectionContainer{
  background: var(--dark-bg);
  padding: 12.6rem 0 12.6rem 0;
  overflow-x: hidden;
  width: 100dvw;
}

.sectionContainer h2{
  font-size: clamp(4.8rem, 4rem + 4vw, 9.6rem);
  color: var(--white);
  line-height: 1.2;
  /* transform: rotate(-5deg); */
  white-space: nowrap;
  padding: 0 2.4rem;
}