.playShape {
  @starting-style {
    transform: translateX(1%) scale(.8);
  }
  position: absolute;
  top: -10%;
  z-index: 100;
  mix-blend-mode: plus-lighter;
  transform: translateX(150%) scale(.6);
  transition: all 1.5s ease;

}

@media screen and (width < 750px){
  .playShape{
    /* top: -25%;
    left: -5%;
    transform: translateX(0) scale(.5); */
    display: none;
  }
}
/* @media screen and (width < 450px){
  .playShape{
    top: -25%;
    left: -15%;
    transform: translateX(0) scale(.4);
  }
} */

@media screen and (width > 1360px){
  .playShape {
    transform: translateX(170%) scale(.9);
  }
}