.flexContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.primaryTitle {
  font-size: 9.6rem;
  font-size: clamp(5.76rem, 4.6477rem + 4.5615vw, 9.375rem);
  line-height: 1;
  color: var(--white);
}

.text {
  font-size: 1.6rem;
  max-width: 40ch;
  line-height: 1.3;
}

@property --stroke-dashoffset {
  syntax: '<number>';
  inherits: false;
  initial-value: 390;
}

.smudge {
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
}

.smudge path {
  stroke-dasharray: 390;
  stroke-dashoffset: var(--stroke-dashoffset);
  animation: smudgeAnimate .35s ease-in-out forwards;
  animation-delay: 3.5s;
}

@keyframes smudgeAnimate {
  from {
    stroke-dashoffset: 390;
  }

  to {
    stroke-dashoffset: 20;
  }
}

@media screen and (width < 700px) {
  @property --stroke-dashoffset {
    syntax: '<number>';
    inherits: false;
    initial-value: 70;
  }
}

@media screen and (width < 585px) {
  .flexContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (width < 500px) {
  @property --stroke-dashoffset {
    syntax: '<number>';
    inherits: false;
    initial-value: 100;
  }
}

@media screen and (width < 350px) {
  @property --stroke-dashoffset {
    syntax: '<number>';
    inherits: false;
    initial-value: 120;
  }
}

@media screen and (width > 1650px) {
  .primaryTitle {
    font-size: 13rem;
    line-height: 1;
  }

  @property --stroke-dashoffset {
    syntax: '<number>';
    inherits: false;
    initial-value: 390;
  }

  .smudge {
    transform: translateY(-50%) translateX(9rem) scale(1.4);
  }
}