.flexContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.container{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.primaryTitle {
  font-size: clamp(8rem, 5rem + 4.5615vw, 12rem);
  line-height: 1;
  color: var(--white);
}

.remarkable{
  color: var(--purple);
  font-weight:400; 
   margin: 0 -4rem 0 -6rem; 
   z-index: 10;
}

.titleGrid{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  justify-items: center;
}

.through{
  grid-column: 3/4;
}

.text {
  font-size: 1.6rem;
  max-width: 45ch;
  line-height: 1.3;
  margin: 1rem auto;
  color: var(--white);
}

@property --stroke-dashoffset {
  syntax: '<number>';
  inherits: false;
  initial-value: 390;
}

.smudge {
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
}

.smudge path {
  stroke-dasharray: 390;
  stroke-dashoffset: var(--stroke-dashoffset);
  stroke-dashoffset: 40;
  animation: smudgeAnimate .35s ease-in-out forwards;
  animation-delay: 3.5s;
}

/* @keyframes smudgeAnimate {
  from {
    stroke-dashoffset: 390;
  }

  to {
    stroke-dashoffset: 40;
  }
} */

@media screen and (width < 730px) {
  @property --stroke-dashoffset {
    syntax: '<number>';
    inherits: false;
    initial-value: 90;
  }
  .smudge path {
    stroke-dashoffset: 100;
  }
}

@media screen and (width < 585px) {
  .flexContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (width < 500px) {
  @property --stroke-dashoffset {
    syntax: '<number>';
    inherits: false;
    initial-value: 130;
  }
  .smudge path {
    stroke-dashoffset: 130;
  }
}

@media screen and (width < 550px){
  .titleGrid{
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  .through{
    grid-column: 1/-1;
  }
  .remarkable{
    color: var(--purple);
    font-weight:400; 
     margin: -2rem 0 -2rem 0;
     transform: rotate(-5deg) scale(1.05); 
     z-index: 10;
     /* position: absolute; */
  }
}

@media screen and (width < 360px) {
  @property --stroke-dashoffset {
    syntax: '<number>';
    inherits: false;
    initial-value: 120;
  }
  .smudge path {
    stroke-dashoffset: 120;
  }

  .primaryTitle {
    font-size: 7rem;
    line-height: 1;
    color: var(--white);
  }
  .remarkable{
    color: var(--purple);
    font-weight:400; 
     margin: -2rem 0 -2rem 0;
     transform: rotate(-5deg) scale(1); 
     z-index: 10;
     /* position: absolute; */
  }
}

@media screen and (width > 1650px) {
  .primaryTitle {
    font-size: 13rem;
    line-height: 1;
  }

  @property --stroke-dashoffset {
    syntax: '<number>';
    inherits: false;
    initial-value: 390;
  }

  .smudge {
    transform: translateY(-50%) translateX(9rem) scale(1.4);
  }
}


