.sectionContainer {
  background: var(--dark-bg);
  perspective: 1000px;
  view-timeline: --whoweare;
}

.perspectiveContainer{
  perspective: 1000px;
  transform-style: preserve-3d;
}

.title{
  font-size: clamp(4.8rem, 2rem + 7vw, 12.8rem);
  max-width: 20ch;
  line-height: 1;
  margin-bottom: 1rem;
  color: var(--white);
  z-index: 1!important;
  position: relative;

  animation: rotate 2s;
  animation-timeline: --whoweare;
  animation-range-start: 0 ;
  animation-range-end: 40%;
}

.comment{
  color: var(--purple);
  width: 30ch;
  line-height: 1.4;
  font-size: 1.2rem;
  position: absolute;
  z-index: 5;
  top: 0;
  right: 10%;
  transform: rotate(20deg);
}

.secondary{
  font-size: clamp(1.2rem, 1.1rem + 0.5vw, 1.5625rem);
  color: var(--white);
  line-height: 1.25;
  text-transform: uppercase;
}

@keyframes rotate{
  0%{
    transform: translate3d(-407.977px, 51.303px, 100px) rotateY(-40deg) rotateX(-10deg);
  }
  100%{

    transform: translate3d(0,0,0) rotateY(0) rotateX(0) translate(0px, 0px);
  }
}


.gridContainer{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 6.4rem;
}
.lineSVG {
  grid-column: 4/6;
  grid-row: 1/2;
}

.paragraph {
  font-size: clamp(1.6rem, 0.9315rem + 0.9423vw, 1.8rem);
  line-height: 1.5;
  width: min(70ch, 100%);
  text-wrap: pretty;
  margin-bottom: 1rem;
  color: var(--white);
  grid-column: 6/-1;
  grid-row: 2/3;

  font-size: clamp(1.4rem, 0.9315rem + 0.7423vw, 1.5625rem);
  line-height: 1.5;
  width: min(75ch ,100%);
  text-wrap: pretty;
}

@media screen and (width < 865px){
  .gridContainer{
    grid-template-rows: 1fr;
  }
}

@media screen and (width < 690px){
  .gridContainer{
    margin-top: 4.8rem;
  }

  .lineSVG {
    grid-column: 1/-1;
    grid-row: 1/2;
    opacity: 0;
  }
  
  .paragraph {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}

@media screen and (width > 1712px){
  .title{
    font-size: 14.2rem;
    max-width: 20ch;
  }
}