.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.4rem 0;
}

.btn{
  padding: 1.2rem 3.6rem;
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  border: 2px solid var(--purple);
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.icon{
  font-size: 2rem;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
