.sectionContainer {
  text-align: center;
  height: min(100vh, 110rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--white);
  view-timeline:--container;
}

@media screen and (width < 400px){
  .sectionContainer{
    height: 60rem;
  }
}

.title {
  font-size: clamp(4.8rem, 3rem + 6.2261vw, 12.8rem);
  line-height: 1;
  position: relative;
  text-align: center;
}

.extraTitle{
  font-size: clamp(5.4rem, 4rem + 7vw, 12.8rem);
  line-height: 1;
  position: relative;
  text-align: center;
  display: flex;
  column-gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.extraTitleAlt{
  font-size: clamp(4.8rem, 3rem + 7vw, 12.8rem);
}

.secondary{
  font-size: clamp(1.2rem, 1.1rem + 0.5vw, 1.5625rem);
  color: #111;
  line-height: 1.25;
  text-transform: uppercase;
}



/* Media Queries */


@media screen and (width > 1650px) {
  .title {
    font-size: 16.8rem;
    line-height: 1;
  }

}



.scrollElementContainer{
  border: 3px solid var(--purple);
  height: 3.5rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  margin: 4rem auto;
  border-radius: 50px;
}

.scrollElement{
  display: flex;
  padding: .25rem;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.cursor{
  width: 1rem;
  height: 1rem;
  background: #111;
  border-radius: 100%;
  z-index: 1;
}

.descrambleText{
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: center;
  margin-top: 1.6rem;
}

.descrambleText h2 {
	visibility:hidden;
	padding:0;
	font-size: clamp(3.2rem, 2rem + 5vw, 6.8rem);   
  line-height: 1.05;
	display:flex;
  align-items: center;
  overflow:hidden;
  letter-spacing: 0.03em;
  text-wrap: balance;
}

.descrambleText h2 div{
  position: relative;
	display:inline-block;
}

.descrambleText h2 div::before {
	position:absolute;
	top:0;
	left:0;
	content:attr(data-char);
	transform:translateY(-100%);
}

.animationTitleContainer{

}

.animationTitle{
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 100%);
  /* background: var(--purple-faint); */
}