.sectionContainer {
  text-align: center;
  height: min(100vh, 110rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--white);
  view-timeline:--container;
}

.title {
  font-size: clamp(4.8rem, 3rem + 6.2261vw, 12.8rem);
  line-height: 1;
  position: relative;
  text-align: center;
}

.extraTitle{
  font-size: clamp(5rem, 4.7748rem + 6.2261vw, 12.8rem);
  line-height: 1;
  position: relative;
  text-align: center;
}

.customFontTitle{
  font-weight: 400;
  font-size: clamp(3rem, 4.2rem + 4.5261vw, 12.8rem);
  margin-top: -3rem;
  color: var(--purple);
  transform: rotate(-5deg);
  position: relative;
  /* display: inline-block;
  padding: 0 3.2rem;

  background: #5e5ad674;
  color: #ffffff; */
}

.circle{
  position: absolute;
  left: 50%;
  bottom: -10%;
  transform: translateX(-50%) scaleX(1.2);
}

.miniTitleContainer{
  animation: animateTitle ease-in-out;
  animation-timeline: --container;
  animation-range-start: 10%;
  animation-range-end: 60%;
}

@keyframes animateTitle{
  0%,
  50%{
    opacity:0;

    transform: translateY(12rem);
  }
  100%{
    opacity:1;
    transform: translateY(0px);
  }
}



/* .brushLine{
  margin-top: -11rem;
  transform: scale(.6) rotate(5deg);
  width: min(500px, 100%)
} */

@media screen and (width > 1512px){
  .customFontTitle{
    margin-top: -5rem;
    font-size: 13.2rem;
  }

  /* .brushLine{
    margin-top: -3rem;
    width: min(450px, 100%)
  } */
}

.secondaryTitle{
  font-size: clamp(1.2rem, 1.0674rem + 1.1428vw, 1.9rem);
  font-weight: 300;
  letter-spacing: .15em;
  z-index: 10;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}


.miniContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.smudgeOne,
.smudgeTwo {
  position: absolute;
  left: 10%;
  top: 15%;
}

.promiseTitle{
  color: var(--dark-purple);
  text-align: center;
  font-size: 1.8rem;
  font-size: clamp(1.6rem, 1.2vi + 1.26rem, 2rem);
  margin-top: 3.6rem;
  font-weight: 400;
  letter-spacing: 0.09em;
}

@property --stroke-dashoffset-1 {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

@property --stroke-dashoffset-2 {
  syntax: '<number>';
  inherits: false;
  initial-value: 40;
}

.smudgeOne path {
  stroke-dasharray: 204;
  stroke-dashoffset: 204;
  animation: smudgeAnimateOne .35s ease-in-out forwards;
}

.smudgeTwo path {
  stroke-dasharray: 279;
  stroke-dashoffset: 279;
  animation: smudgeAnimateTwo .35s .75s ease-in-out forwards;
}


/* Media Queries */

@media screen and (width < 800px) {
  .miniContainer {
    display: flex;
    align-items: center;
  }
}


@media screen and (width < 750px) {
  @property --stroke-dashoffset-1 {
    syntax: '<number>';
    inherits: false;
    initial-value: 50;
  }
  @property --stroke-dashoffset-2 {
    syntax: '<number>';
    inherits: false;
    initial-value: 90;
  }

  .smudgeOne,
  .smudgeTwo{
    transform: translateY(-20px);
  }
}


@media screen and (width < 555px) {
  .miniContainer {
    flex-direction: column;
    gap: 0;
  }

  @property --stroke-dashoffset-1 {
    syntax: '<number>';
    inherits: false;
    initial-value: 100;
  }
  @property --stroke-dashoffset-2 {
    syntax: '<number>';
    inherits: false;
    initial-value: 140;
  }

  .path{
    stroke-width: 12px!important;
  }


  .smudgeOne{
    transform: translateY(-10px);
  }
  
  .smudgeTwo{
    transform: translateY(-40px) translateX(-20px);
  }
}

@media screen and (width > 1650px) {
  .title {
    font-size: 16.8rem;
    line-height: 1;
  }

  .smudgeOne,
  .smudgeTwo {
    left: 25%;
    top: 30%;
    transform: scale(1.5);
  }
}

/* Animations */
@keyframes smudgeAnimateOne {
  from {
    stroke-dashoffset: 204
  }

  to {
    stroke-dashoffset: var(--stroke-dashoffset-1);
  }
}

@keyframes smudgeAnimateTwo {
  from {
    stroke-dashoffset: 279
  }

  to {
    stroke-dashoffset: var(--stroke-dashoffset-2);
  }
}