.footer {
  background: #111;
  color: var(--white);
  padding-top: 8rem ;
  padding-bottom: 2rem;
  position: sticky;
  width: 100%;
  z-index: -1;
  bottom: 0;
  left: 0;
}

.footerContainer {
  width: min(136rem, 100%);
  margin: 0 auto;
  padding: 6.8rem 2rem 2rem 2rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.titleContainer h3 {
  font-weight: 300;
  font-size: 1.4rem;
}

.titleContainer h4 {
  font-weight: 700;
  font-style: italic;
  font-size: 2rem;
  position: relative;
  color: var(--white);
}

.titleContainer h4::after {
  content: '';
  height: .4rem;
  width: 5rem;
  background-color: var(--white);
  transform: translateX(1rem) translateY(1.2rem);
  position: absolute;
}

.textContainer {
  margin: 1rem 0 6rem 0;
}

.textContainer p {
  font-size: clamp(1.44rem, 1.2615rem + 0.8924vw, 1.9531rem);
  width: min(45ch, 100%);
}

.emailContainer {
  display: flex;
  gap: 4rem;
  align-items: flex-start;
  font-size: 1.6rem;
  margin: 4rem 0;
}

.query {
  font-weight: 300;
}

.email {
  font-weight: 600;
}


.footerLogo {
  font-size: clamp(5.76rem, 1.5227rem + 14vw, 19.5313rem);
  line-height: 1;
}

.footerLogoContainer p {
  font-weight: 500;
  font-size: clamp(1rem, 0.9122rem + 0.7vw, 1.5625rem);
  letter-spacing: 0.02em;
}


@media screen and (width < 450px) {
  .emailContainer {
    flex-direction: column;
    gap: 2rem;
  }
}