.footer{
  background: #111;
  color: var(--white);
  padding-top: 8rem ;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.titleContainer h3 {
  font-weight: 300;
  font-size: 1.4rem;
}

.titleContainer h4 {
  font-weight: 700;
  font-style: italic;
  font-size: 2rem;
  position: relative;
  color: var(--white);
}

.titleContainer h4::after{
  content: '';
  height: .4rem;
  width: 5rem;
  background-color: var(--white);
  transform: translateX(1rem) translateY(1.2rem);
  position: absolute;
}

.textContainer{
  margin: 2rem 0;
}

.textContainer p {
  font-size: 1.8rem;
  width: min(45ch, 100%);
}

.emailContainer{
  display: flex;
  gap: 4rem;
  align-items: flex-start;
  font-size: 1.6rem;
  margin: 4rem 0;
}


.query{
  font-weight: 300;
}

.email{
  font-weight: 600;
}


.footerLogo{
  font-size: clamp(5.76rem, 1.5227rem + 15.1865vw, 19.5313rem);
  line-height: 1;
}

.footerContainer p{
font-weight: 500;
font-size: clamp(1.08rem, 0.9122rem + 0.8391vw, 1.5625rem);
letter-spacing: 0.02em;
}


@media screen and (width < 450px){
  .emailContainer{
    flex-direction: column;
    gap: 2rem;
  }
}