.sectionContainer {
  background: var(--dark-bg);
  position: relative;
}

.benefitsContainer {
  position: relative;
  display: grid;
  grid-template-columns: 40fr 60fr;
  gap: 2.4rem;
}

.textContainer {
  position: relative;
  margin-top: 2.4rem;
}

.stickyTitle {
  position: sticky;
  top: 4.8rem;
}

.textContainer h2 {
  font-size: clamp(5.6rem, 4.5rem + 7vw, 9.6rem);;
  line-height: 1.2;
  color: var(--white);
}

.textContainer h3 {
  color: var(--purple);
  letter-spacing: 0.24em;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.textContainer p {
  color: var(--white);
  font-size: 1.4rem;
  width: 38ch;
}


@media screen and (width < 760px) {
  .benefitsContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
    height: 150vh;
  }

  .stickyTitle {
    position: relative;
  }
}