.menuContainer {
  background: var(--black);
  position: fixed;
  min-height: 100dvh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;

  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.container {
  width: min(136rem, 100%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.menuButtonContainer {
  align-self: flex-end;
  padding: 2.2rem 2.4rem 0 0;
}

.textContainer {
  padding: 0 2.4rem;
}

.textContainer h2 {
  font-size: clamp(1.8rem, 1.2033rem + 2.9837vw, 3.2rem);
  color: var(--white);
  line-height: 1.2;
}

.successStoriesLink {
  margin-top: 2.4rem;
  font-size: 1.8rem;
  display: inline-block;
  color: var(--green);
  font-weight: 600;
  transition: all .2s;

  border-bottom: 2px solid var(--green);
}

.successStoriesLink:hover {
  filter: brightness(1.5);
}

.linkContainer {
  padding: 6.8rem 2rem;
}

.link {
  font-size: clamp(5.6rem, 2.4452rem + 12vw, 12.8rem);
  line-height: 1;
  position: relative;
  letter-spacing: 0.01em;
  margin-right: 5rem;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}

@media screen and (width > 1712px) {
  .link {
    font-size: 14.2rem;
  }
}

.link:hover {
  color: var(--white);
}

.absoluteBlurElement {
  background: var(--purple);
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
  z-index: -1;
  border-radius: 200px;
  filter: blur(100px);
  opacity: 0;
  transition: all .2s ease-in-out;
}

.link:hover .absoluteBlurElement {
  opacity: 1;
}

.titleElement {
  display: block;
  padding-left: .6rem
}

.hoveredLink {
  position: absolute;
  inset: 0;
  color: var(--purple);
}

.outlineText {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--white);
  position: relative;
  transition: .5s ease;
}

.webDesign {
  color: #6313e6;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: transparent;
}

.brandIdentity {
  color: #FBF5F3;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: transparent;
}

.videoMotion {
  color: #02635b;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: transparent;
}


/* @media (hover) {
  .webDesign {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white);
    position: relative;
  }

  .brandIdentity {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white);
    position: relative;
  }

  .videoMotion {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white);
    position: relative;
  }

  .webDesign:hover {
    color: #6313e6;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: transparent;
  }

  .brandIdentity:hover {
    color: #FBF5F3;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: transparent;
  }

  .videoMotion:hover {
    color: #02635b;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: transparent;

  }
} */



@media screen and (max-width: 1200px) and (max-height: 700px) {
  .link {
    font-size: clamp(5.6rem, 2.4452rem + 12vw, 11.2rem);
  }
}

@media screen and (width < 750px) {
  .gridContainer {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2.4rem;
  }

  .linkContainer {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    padding: 3.6rem 2rem;
  }

  .titleElement {
    display: inline-block;
  }
}