.promiseTitle{
  color: var(--white);
  text-align: center;
  font-size: clamp(1.6rem, 1.2vi + 1.26rem, 1.8rem);
  font-weight: 600;
  margin-top: 3.2rem;
  text-wrap: pretty;
  letter-spacing: -0.02em;
}