/* Rotating 3d text */
.rotatingHeader{
  width: fit-content;
  white-space: nowrap;
  text-align: center;
}

.rotatingHeader h1{
  font-size: clamp(4.8rem, 2rem + 7.5vw, 16.8rem);
  line-height: .55;
  perspective: 600px;
  text-align: center;
  color:#f1f1f1;
}

.rotatingHeader h1:nth-child(2){
  color: var(--purple);
}
