.headerContainer {
  position: relative;
  padding-top: 6.8rem;
  padding-bottom: 12.8rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.titleContainer {
  grid-column: 1/7;
  grid-row: 1/-1;
}

.shapeContainer {
  @starting-style{
    transform: translateX(-200%)
  }

  grid-column: 8/11;
  grid-row: 1/-1;
  mix-blend-mode: plus-lighter;
  transition: all 2s ease;
}

.title {
  font-size: clamp(5.12rem, 1rem + 12.6446vw, 14.1406rem);
  line-height: 1;
  color: var(--black);
}

.title>span {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.miniTitleOne,
.miniTitleTwo {
  font-size: 1.8rem;
  align-self: center;
  /* justify-self: center; */
  color: var(--black);
}

.miniTitleOne {
  grid-column: 7/-1;
  grid-row: 1/2;
}

.miniTitleTwo {
  grid-column: 6/-1;
  grid-row: 2/3;
}

@media screen and (width > 1360px) {
  .title {
    font-size: 16.1406rem;
  }
}

@media screen and (width < 1080px) {
  .title {
    font-size: clamp(5.12rem, 1rem + 12.6446vw, 14.1406rem);
  }

  .titleContainer {
    grid-column: 1/-1;
  }

  .shapeContainer {
    display: none;
  }

  .miniTitleOne,
  .miniTitleTwo {
    display: none;
  }

}



@media screen and (width < 830px) {
  .titleContainer {
    grid-column: 1/10;
  }

  .miniTitle {
    display: none;
  }
}