.sectionContainer{
  padding-top: 12.8rem;
  padding-bottom: 12.8rem;
  position: relative;
  overflow: hidden;
  view-timeline: --section-container;
  animation: changeBg ease-in-out forwards; 
  animation-timeline: --section-container;
  animation-range-start: 0 ;
  animation-range-end: 80%;

  animation-range-start: 20%;
  animation-range-end: 70%;
}

@keyframes changeBg {
  0%,
  25%{
    background: #fff;
    color: #000;
  }
  100%{
    background:  hsl(241, 60%, 7%);
    color: #fff;
  }
}


.absoluteTitle{
  font-size: 16.8rem;
  color: #0000000e;
  font-weight: 800;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  
  /* transform: translate(-50%); */

  animation: animateTitle ease-in-out;
  animation-timeline: --section-container;
}

@keyframes animateTitle{
  from{
    transform: translateX(0) translateY(-6.4rem);
  }
  to{
    transform: translateX(-100%) translateY(-6.4rem);
  }
  
}

.benefitsContainer{
  margin: 4.8rem auto;
}

.benefitContainerTitle{
  text-align: center;
  font-size: clamp(1.6rem, 1.2615rem + 0.8924vw, 1.9531rem);
  margin: 1.6rem auto;
}

.benefits{
 display: flex;
 gap: 2rem;
  justify-content: center;
}

.benefit h4{
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: .8rem;
}

.relativeContainer{
  position: relative;
}
.animatePromiseTitleOne{
  position: absolute;
  top: 0;
  left: 50%;
  animation: animateMiniTitleOne forwards;
  animation-timeline: --section-container;
  animation-range-start: 10% ;
  animation-range-end: 80%;
}
.animatePromiseTitleTwo{
  position: absolute;
  top: 0;
  left: 50%;
  animation: animateMiniTitleTwo forwards;
  animation-timeline: --section-container;
  animation-range-start: 0% ;
  animation-range-end: 75%;
}
.animatePromiseTitle{

  animation: animateMiniTitle forwards;
  animation-timeline: --section-container;
  animation-range-start: 0% ;
  animation-range-end: 75%;
}

@keyframes animateMiniTitle{
  0%,
  40%{
    transform: translateX(-40rem) translateY(25rem) scale(1.2);
  }
  65%{
    transform: translateX(-40rem) translateY(0) scale(1.2);
  }
  100%{
    transform: translateX(0) translateY(0) scale(1);
  }
}
@keyframes animateMiniTitleOne{
  0%,
  40%{
    transform: translateX(-40rem) translateY(35rem);
  }
  65%{
    transform: translateX(-40rem) translateY(0) ;
  }
  100%{
    transform: translateX(-50%) translateY(0);
  }
}
@keyframes animateMiniTitleTwo{
  0%,
  40%{
    transform: translateX(40rem) translateY(-35rem) ;
  }
  65%{
    transform: translateX(40rem) translateY(0) ;
  }
  100%{
    transform: translateX(-50%) translateY(0) ;
  }
}


@media screen and (width < 770px){
  .benefits{
    flex-direction: column;
    align-items: center;
  }
}