.sectionContainer{
  view-timeline: --section-container;
}

.containerLeft{
  text-align: left;
  margin: 1.6rem 0;
}
.containerRight{
  text-align: right;
  margin: 1.6rem 0;
}

.overflowContainer{
  overflow: hidden;
}

.containerLeft  h2,
.containerRight  h2{
  font-size: clamp(4.5rem, 1.3098rem + 15.9511vw, 16.6719rem);
  color: var( --primary-title);
  line-height: .9;
  font-weight: 400;
  letter-spacing: -0.01em;
  overflow: hidden;
}

.containerLeft h2{
  animation: animateLeftTitle ease-in-out;
  animation-timeline: --section-container;
  animation-range-start: entry ;
  animation-range-end: 60%;
}

.containerRight h2{
  animation: animateRightTitle ease-in-out;
  animation-timeline: --section-container;
  animation-range-start: entry ;
  animation-range-end: 60%;
}

@keyframes animateLeftTitle{
  from{
    transform: translateY(25rem);
  }
  to{
    transform: translateY(0);
  }
}
@keyframes animateRightTitle{
  from{
    transform: translateY(25rem);
  }
  to{
    transform: translateY(0);
  }
}

/* Place ALWAYS the animation above the timeline */

.containerRight p{
  margin-left: auto;
}

.containerLeft p,
.containerRight p{
  color: var( --primary-title);
  font-size: clamp(1.6rem, 1.2615rem + 0.8924vw, 1.8rem);
  opacity: 0;
  line-height: 1.5;
  max-width: 70ch;
  animation: animateText ease-in-out;
  animation-timeline: --section-container;
  animation-range-start: 100px ;
  animation-range-end: 70%;
}

.miniTitle{
  padding: 2.4rem 0 9.6rem 0;
  animation: animatePromiseTitle ease-in-out;
  animation-timeline: --section-container;
  animation-range-start: 100px ;
  animation-range-end: 70%;
}


@keyframes animateText{
  0%,
  30%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


@keyframes animatePromiseTitle{
  0%,
  40%{
    opacity: 0;
    transform: translateY(15rem)
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}




