.containerLeft{
  text-align: left;
}
.containerRight{
  text-align: right;
}

.containerLeft  h2,
.containerRight  h2{
  font-size: clamp(4.5rem, 1.3098rem + 15.9511vw, 13.6719rem);
  color: var( --primary-title);
  line-height: 1;
  letter-spacing: 0.03em;
  overflow: hidden;
}

.overflowContainer{
  overflow: hidden;
}
.containerLeft  p,
.containerRight  p{
  color: var( --primary-title);
  font-size: clamp(1.6rem, 1.2615rem + 0.8924vw, 1.8rem);
  line-height: 1.5;
  max-width: 70ch;
  /* transform: translateY(40px); */
}
.containerRight > p{
  margin-left: auto;
}

.promiseTitle{
  color: var(--dark-purple);
  text-align: center;
  font-size: clamp(1.6rem, 1.2vi + 1.26rem, 1.82rem);
  margin-top: 6.8rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-weight: 600;
}