.sectionContainer {
  padding-top: 12rem;
  padding-bottom: 12rem;
  background: var(--dark-purple);
  view-timeline: --container;
}

.features {
  padding: 4.8rem 2.4rem;
}

.featuresContainer {
  color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .8rem;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.feature {
  background: #260462;
  border: 1px solid var(--dark-purple);
  padding: 4rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  overflow: hidden;
  position: relative;
  z-index: 10;
  transition: all .3s ease-out;
}

.feature span {
  font-size: 30rem;
  font-weight: 700;
  color: var(--purple);
  opacity: .4;
  position: absolute;
  top: -65%;
  right: 0;
  transform: rotate(15deg);
}

.feature h3 {
  font-size: clamp(1.62rem, 1.3973rem + 1.1135vw, 2.2rem);
  z-index: 10;
  transition: .3s ease;
}

.feature p {
  font-size: clamp(1.2rem, 1.1669rem + 0.4654vw, 1.6rem);
  line-height: 1.35;
  text-wrap: pretty;
  z-index: 10;
  color: #ffffffc5;
  ;
}

.animatedTitle {
  animation: animateTitle;
  animation-timeline: --container;
}

@keyframes animateTitle {

  0%,
  30% {
    opacity: 0;
    transform: translateY(30rem);
  }

  75% {
    opacity: 1;
    transform: translateY(0);
  }
}


@media screen and (width < 900px) {
  .features {
    padding: 3.2rem 0rem;
  }

  .feature{
    min-height: 21rem;
  }

  .featuresContainer {
    grid-template-columns: 1fr;
  }
}

@media screen and (width > 1380px) {
  

  /* Feature one */
  .feature:nth-of-type(1) {
    animation: animateFeatureOne;
    animation-timeline: --container;
    animation-range-start: 20%;
    animation-range-end: 50%;
  }

  @keyframes animateFeatureOne {
    0% {
      transform: translateX(-6rem) translateY(-9.2rem);
    }

    100% {
      transform: translateX(0) translateY(0);
    }
  }

  /* Feature two */
  .feature:nth-of-type(2) {
    animation: animateFeatureTwo;
    animation-timeline: --container;
    animation-range-start: 25%;
    animation-range-end: 50%;
  }

  @keyframes animateFeatureTwo {
    0% {
      transform: translateX(7rem) translateY(-9.4rem);
    }

    100% {
      transform: translateX(0) translateY(0);
    }
  }

  /* Feature three */
  .feature:nth-of-type(3) {
    animation: animateFeatureThree;
    animation-timeline: --container;
    animation-range-start: 30%;
    animation-range-end: 50%;
  }

  @keyframes animateFeatureThree {
    0% {
      transform: translateX(-8rem) translateY(8.6rem);
    }

    100% {
      transform: translateX(0) translateY(0);
    }
  }

  /* Feature four */
  .feature:nth-of-type(4) {
    animation: animateFeatureFour;
    animation-timeline: --container;
    animation-range-start: 25%;
    animation-range-end: 50%;
  }

  @keyframes animateFeatureFour {
    0% {
      transform: translateX(6rem) translateY(9.6rem);
    }

    100% {
      transform: translateX(0) translateY(0);
    }
  }
}


