:root{
  font-size: 62.5%;

  --primary-title: hsl(0, 8%, 9%);
  --text-color: hsl(0, 0%, 20%);
  --white-text-color: hsl(0, 0%, 59%);
  --black: hsl(0, 8%, 9%);
  --black: hsl(216, 12%, 8%);
  --dark-bg: hsl(210, 15%, 8%); 
  --purple-2: hsla(241, 60%, 60%, 0.338);
  --purple-faint: hsla(241, 60%, 60%, 0.379);
  --dark-purple: hsl(262, 92%, 10%);
  --dark-purple-2 : hsl(241, 60%, 5%);
  --purple: hsl(241, 60%, 60%);
  --purple-bg: hsla(241, 60%, 60%, 0.3);
  --green: #10b889;
  --green-bg: #10b88884;
  --yellow: hsl(47, 82%, 57%);
  --yellow-bg: hsla(47, 82%, 57%, 0.3);
  --orange: hsl(21, 90%, 48%);
  --orange-bg: hsla(21, 90%, 48%, 0.3);
  --blue: hsl(237, 92%, 47%);
  --blue-bg: hsla(237, 92%, 47%, 0.3);
  --blue: hsl(237, 70%, 53%);
  --blue-bg: hsla(237, 92%, 47%, 0.3);
  --white: hsl(0, 0%, 100%);
  --white-bg: hsla(0, 0%, 100%, 0.3);
  --white-faint: hsl(0, 0%, 85%);
}

html {
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}

body.no-scroll {
    overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--black);
}

.container{
  width: min(136rem, 100%);
  margin: 0 auto;
  padding: 12.8rem 2.4rem 8.2rem 2.4rem;
  position: relative;
}

.navbar-container {
  width: min(136rem, 100%);
  margin: 0 auto;
  padding: 1.6rem 2.4rem;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.block-element{
  display: block;
}

.yellow{
  color: var(--yellow)
}

.purple{
 color: var(--purple);
}

.green{
  color: var(--green);
}
.black{
  color: var(--black);
}

/* Tags */
.green-tag{
  color: var(--green);
  background: var(--green-bg)
}
.yellow-tag{
  color: var(--yellow);
  background: var(--yellow-bg)
}
.purple-tag{
  color: var(--purple);
  background: var(--purple-bg)
}
  
.outline-text{
  color: transparent;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: var(--black);
   position: relative;
   display: inline-block;
}

.purple-text{
  color: transparent;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: var(--purple);
   position: relative;
   display: inline-block;
}

.outline-text-white{
  color: transparent;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: var(--white);
   position: relative;
   display: inline-block;
}

.bold-text{
  font-weight: 700;
}

.underline-text{
  text-decoration: underline;
}

/* Hight Light Effect */
.purple-highlight {
  display: inline-block;
  background: linear-gradient(
      100deg,
      #afd7ff00 1%,
      #5e5cd6 2.5%,
      #5e5cd680 5.7%,
      #5e5cd61a 93%,
      #5e5cd6b4 95%,
      #5e5cd600 98%
    ),
    linear-gradient(182deg, #5e5cd600, #5e5cd64d 8%, #5e5cd600 15%);
}

.green-highlight {
  display: inline-block;
  background: linear-gradient(
      100deg,
      #b8ffaf00 1%,
      #b8ffaf 2.5%,
      #b8ffaf80 5.7%,
      #b8ffaf1a 93%,
      #b8ffafb4 95%,
      #b8ffaf00 98%
    ),
    linear-gradient(182deg, #b8ffaf00, #b8ffaf4d 8%, #b8ffaf00 15%);
}

.yellow-highlight {
  display: inline-block;
  background: linear-gradient(
      100deg,
      #ffffaf00 1%,
      #ffffaf 2.5%,
      #ffffaf80 5.7%,
      #ffffaf1a 93%,
      #ffffafb4 95%,
      #ffffaf00 98%
    ),
    linear-gradient(182deg, #ffffaf00, #ffffaf4d 8%, #ffffaf00 15%);
}


/* Menu Icon */

body.menu-open {
  overflow-y: hidden;
}

.menu-icon{
  position: relative;
  margin: 1rem;
  cursor: pointer;
}

.bar,
.bar-half-1,
.bar-half-2{
  position: absolute;
  background: var(--white);
  transition: all .3s ease;
}

.bar{
  width: 4.2rem;
  height: .6rem;
  left: 50%;
  transform: translateX(-50%);
}
.bar-half-1,
.bar-half-2{
  width: 2.1rem;
  height: .6rem;
}
.bar-half-1{
  top: -.8rem;
  left: 0;
}
.bar-half-2{
  right: 0;
  top: .8rem;
}

.bar.open{
  opacity: 0;
  transform: translateX(10px);
}

.bar-half-1.open{
  width: 4.2rem;
  transform: translateX(-2.1rem) translateY(.8rem) rotate(-45deg) ;
  transform-origin: center;
}
.bar-half-2.open{
  width: 4.2rem;
  transform:translateX(2.1rem) translateY(-.8rem) rotate(45deg) ;
}

@media screen and (width < 700px){
  .container{
    padding: 6rem 2rem;
  }
}

@media screen and (width < 500px){
  .container{
    padding: 4.8rem 1.6rem;
  }
}


/* Scrollbar Styling */

/* ::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: #5E5CD6;
} */
 
/* Hide scrollbar for Chrome, Safari and Edge */
body::-webkit-scrollbar {
  display: none;  /* Hide the scrollbar */
}

/* Hide scrollbar for all elements */
* {
  scrollbar-width: none;  /* Firefox hides the scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
}

