:root{
  font-size: 62.5%;

  --primary-title: #1a1616;
  --black: #1a1616;
  --purple: #5d5ad6;
  --dark-purple: #130231;
  --yellow: #ebc337;
  --white: #fff;
}

body{
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--black);
}

.container{
  width: min(136rem, 100%);
  margin: 0 auto;
  padding: 2rem;

  position: relative;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.block-element{
  display: block;
}


.yellow{
  color: var(--yellow)
}

.purple{
 color: var(--purple);
}
  

.outline-text{
  color: transparent;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: var(--primary-title);
   position: relative;
   display: inline-block;
}

.bold-text{
  font-weight: 700;
}

/* Menu Icon */

.menu-icon{
  position: relative;
  margin: 1rem;
  cursor: pointer;
}

.bar,
.bar-half-1,
.bar-half-2{
  position: absolute;
  background: var(--black);
  transition: all .3s ease;
}

.bar{
  width: 4.6rem;
  height: .8rem;
  left: 50%;
  transform: translateX(-50%);
}
.bar-half-1,
.bar-half-2{
  width: 2.3rem;
  height: .8rem;
}
.bar-half-1{
  top: -1rem;
  left: 0;
}
.bar-half-2{
  right: 0;
  top: 1rem;
}

.bar.open{
  opacity: 0;
  transform: translateX(10px);
}

.bar-half-1.open{
  width: 4.6rem;
  transform: translateX(-2.3rem) translateY(1rem) rotate(-45deg) ;
  transform-origin: center;
}
.bar-half-2.open{
  width: 4.6rem;
  transform:translateX(2.3rem) translateY(-1rem) rotate(45deg) ;
}
