.sectionContainer{
  padding-top: 12.8rem;
  padding-bottom: 12.8rem;
  min-height: 80vh;
  position: relative;
  overflow: hidden;
  background: var(--white);
  view-timeline: --section-container;
  /* animation: changeBg ease-in-out forwards; 
  animation-timeline: --section-container;
  animation-range-start: 0 ;
  animation-range-end: 80%; */

  animation-range-start: 15%;
  animation-range-end: 65%;
}

@keyframes changeBg {
  0%,
  25%{
    background: #fff;
    color: #000;
  }
  100%{
    background:  hsl(241, 60%, 7%);
    color: #fff;
  }
}

.absoluteMiniTitle{
  position: absolute;
  background: var(--purple);
  color: var(--white);
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-5deg);
  /* clip-path: polygon(50% 1%, 50% 0, 50% 100%, 50% 100%); */
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  border: .5rem solid #fff;
  padding: .6rem .8rem;
  font-size: clamp(3.2rem, 1rem + 4vw, 4.8rem);
}

.paragraph{
  font-size: clamp(1.4rem, 0.9315rem + 0.7423vw, 1.5625rem);
  line-height: 1.5;
  width: min(75ch ,100%);
  margin: 2.4rem auto 4rem auto;
  /* text-wrap: pretty; */
  text-align: center;
  color: var(--text-color);
}




.xHeight{
  position: absolute;
  font-family: 'poppins';
  font-size: 1.4rem;
  /* word-wrap: nowrap; */
  white-space: nowrap;
  border-left: 1px dashed #111;
  padding-left: 1.2rem;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (width < 600px){
  .xHeight{
    display: none;
  }
}



.absoluteTitle{
  font-size: 16.8rem;
  color: #0000000e;
  font-weight: 800;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  animation: animateTitle ease-in-out;
  animation-timeline: --section-container;
}

@keyframes animateTitle{
  from{
    transform: translateX(0) translateY(-6.4rem);
  }
  to{
    transform: translateX(-100%) translateY(-6.4rem);
  }
  
}

.benefitsContainer{
  margin: 4.8rem auto;
}

.benefitContainerTitle{
  text-align: center;
  font-size: clamp(1.6rem, 1.2615rem + 0.8924vw, 1.9531rem);
  margin: 1.6rem auto;
}

.benefits{
 display: flex;
 gap: 2rem;
  justify-content: center;
}

.benefit h4{
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: .8rem;
}

.relativeContainer{
  position: relative;
}
.animatePromiseTitleOne{
  position: absolute;
  top: 0;
  left: 50%;
  animation: animateMiniTitleOne forwards;
  animation-timeline: --section-container;
  animation-range-start: 10% ;
  animation-range-end: 80%;
}
.animatePromiseTitleTwo{
  position: absolute;
  top: 0;
  left: 50%;
  animation: animateMiniTitleTwo forwards;
  animation-timeline: --section-container;
  animation-range-start: 0% ;
  animation-range-end: 75%;
}
.animatePromiseTitle{

  animation: animateMiniTitle forwards;
  animation-timeline: --section-container;
  animation-range-start: 0% ;
  animation-range-end: 75%;
}

@keyframes animateMiniTitle{
  0%,
  40%{
    transform: translateX(-40rem) translateY(25rem) scale(1.2);
  }
  65%{
    transform: translateX(-40rem) translateY(0) scale(1.2);
  }
  100%{
    transform: translateX(0) translateY(0) scale(1);
  }
}
@keyframes animateMiniTitleOne{
  0%,
  40%{
    transform: translateX(-40rem) translateY(35rem);
  }
  65%{
    transform: translateX(-40rem) translateY(0) ;
  }
  100%{
    transform: translateX(-50%) translateY(0);
  }
}
@keyframes animateMiniTitleTwo{
  0%,
  40%{
    transform: translateX(40rem) translateY(-35rem) ;
  }
  65%{
    transform: translateX(40rem) translateY(0) ;
  }
  100%{
    transform: translateX(-50%) translateY(0) ;
  }
}


@media screen and (width < 770px){
  .benefits{
    flex-direction: column;
    align-items: center;
  }
}