.container{
  padding: 12rem 2rem;
}

.services {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.servicesContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}


@media screen and (width < 750px){
  .servicesContainer{
    justify-content: center;
  }
}