.container{
  padding: 3.2rem 2rem 12rem 2rem;
  background: var(--dark-bg);
  background: var(--dark-bg);

  /* background: var(--dark-purple); */
}

.services {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.servicesContainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 1fr;
  gap: 1.2rem;
}


@media screen and (width < 950px){
  .servicesContainer{
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (width < 650px){
  .servicesContainer{
    grid-template-columns: 1fr;
  }
}


.relativeContainer{
  position: relative;
  z-index: 1;
}

