.sectionContainer{
  padding: 12.8rem 1.6rem;
    background: var(--white);
  view-timeline: --container;
}

.gridContainer{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  text-align: center;
}

.mainTitle{
  font-size: clamp(4.8rem, 2rem + 7vw, 9.6rem);  
  font-size: clamp(4.8rem, 2rem + 7vw, 8rem);  
  line-height: 1;
  margin: 1rem 0;
  text-wrap: balance;
}

/* .mainTitle:nth-of-type(2){
  font-size: clamp(4.8rem, 2rem + 7vw, 9.6rem);
} */


.text{
  font-size: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  font-size: clamp(1.5rem, 0.9315rem + 0.7423vw, 1.5625rem);
  line-height: 1.5;
  text-wrap: pretty;
  margin: 0 auto 1.6rem auto;
  width: min(100%, 75ch);
}

.animatedTitle{
  animation: animateTitle;
  animation-timeline: --container;
}


@keyframes animateTitle{
  0%,
  40%{
    opacity: 0;
    transform: translateY(10rem);
  }
  70%{
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (width < 480px){
  .text{
    /* width: min(100%, 75ch); */
    width: 100%;
    text-wrap: pretty;
  }
}

@media screen and (width < 360px){
  .mainTitle:nth-of-type(2){
    font-size: 4rem;
  }
}