.pricingSection{
  padding-top: 9.6rem;
  padding-bottom: 12.6rem;
}

.titleContainer{
  text-align: center;
  padding-top: 4.8rem ;
  padding-bottom: 4.8rem ;
}

.title{
  font-size: clamp(2.8rem, 2.0935rem + 2.1327vw, 3.9063rem);
  line-height: 1;
  font-weight: 700;
}


.pricingsContainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: min(100%, 126rem);
  margin: 3.2rem auto;
  gap: 2.4rem;
}

.pricing{
  border: 1px solid var(--purple);
  width: min(100%, 40rem);
  height: 58rem;
  margin: 0 auto;
}

.pricing:nth-of-type(2){
  border: 1px solid var(--purple);
  background: var(--dark-purple);
  color: #fff;
}

.pricing h3{
  text-align: center;
  color: var(--purple);
  padding: 1rem 0;
  font-size: 1.4rem;
  border-bottom: 1px solid var(--purple)

}

.pricing:nth-of-type(2) h3{
  color: var(--white);
  background: var(--purple);
}

.pricingContainer{
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.icon{
  font-size: 2.4rem;
  text-align: center;
  color: var(--purple);
}

.pricingContainer h2{
  text-align: center;
}

.descriptionContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0;
}
.description{
  font-size: 1.6rem;
}

.priceContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.featureContainer{
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 1.2rem 0;
}

.feature{
  display: grid;
  grid-template-columns: 5fr 95fr;
  gap: 1.2rem;
  align-items: center;
  font-size: 1.4rem;
}

@media screen and (width < 950px){
  .pricingsContainer{
    grid-template-columns: 1fr;
  }
}