.title {
  font-size: 1.6rem;
  z-index: 10;
  position: relative;
  text-transform: uppercase;
  font-size: clamp(1.4rem, 1.1548rem + 0.5261vw, 1.5625rem);
  font-weight: 700;
  line-height: 1.25;
}


@media screen and (max-width: 600px) {
  .title {
    letter-spacing: 0.2rem;
  }
}