.headerContainer {
  height: 100vh;
  background: var(--black);
  padding: clamp(4.5rem, 2.9348rem + 7.8261vw, 9.6rem) 0;
  overflow-x: hidden;
}

.sectionContainer{
  display: flex;
  align-items: center;
  position: relative;
}

.textContainer{
  display: flex;
  flex-direction: column;
}

.shapeContainer {
  @starting-style{
    transform: translateX(-200%)
  }

  position: absolute;
  top: 0;
  transform: translateX(150%);
  z-index: 10;
  mix-blend-mode: plus-lighter;
  transition: all 2s ease;
}

.title {
  font-size: clamp(5.12rem, 1rem + 10.6446vw, 14.1406rem);
  line-height: 1;
  color: var(--white);
  position: relative;
  margin-bottom: 1.6rem;
  z-index: 10;
  display: inline-block;
}

.title::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  left: 0;
  top: 0;
  z-index:-1;
  filter: blur(70px);
  opacity: .7;
}

.absoluteTitleOne,
.absoluteTitleTwo{
  position: absolute;
  color: transparent;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: var(--white);
   opacity: .5;
   z-index: -1;
}

.absoluteTitleOne{
  @starting-style{
    top: 0;
    left: 0;
  }

  top: -35%;
  left: -10%;
  transition: all .5s ease-in-out;
}

.absoluteTitleTwo{
  @starting-style{
    top: 0;
    left: 0;
  }
  top: 35%;
  left: 10%;
  transition: all .5s ease-in-out;
}

.miniTitle{
  color: var(--white);
  letter-spacing: 0.07em;
  z-index: 10;
  font-size: clamp(.9rem, 0.5rem + 1.1vw, 1.6rem);
}

.btn{
  color: var(--green);
  margin: 1.6rem 0;
  font-weight: 600;
  font-size: clamp(1.6rem, 1.3295rem + 0.5527vw, 1.8rem);
  display: flex;
  align-items: center;
  gap: .4rem;
}

.icon{
  font-size: 2rem;
}

/* Media Queries */

@media screen and (width > 1360px) {
  .title {
    font-size: 17.1406rem;
  }
}

@media screen and (width < 1080px) {
  .shapeContainer {
    transform: translateX(100%) scale(0.8);
  }
}

@media screen and (width < 800px) {
  .shapeContainer {
    transform: translateX(80%) scale(0.8);
  }
}

@media screen and (width < 700px) {
  .absoluteTitleOne,
  .absoluteTitleTwo{
    display: none;
  }
  .title {
    font-size: clamp(7.6rem, 5rem + 9.9766vw, 13.4766rem);
  }
  .shapeContainer {
    transform: translateX(30%) scale(0.8);
  }
}

@media screen and (width < 500px) {
  .shapeContainer {
    transform: translateX(0%) scale(0.8);
  }
}