.project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.imageContainer {
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  position: relative;
}

.image {
  filter: invert(1);
  width: 80%;
  object-fit: contain;
}

.tagContainer {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0; 
  padding: 1.2rem;
  gap: 1.2rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.textContainer h2 {
  font-size: 2.4rem;
  font-size: clamp(2rem, 1.6327rem + 0.8365vw, 2.3438rem);
  font-weight: 700;
  line-height: 1;
  grid-row: 2/3;
}

.textContainer h3 {
  font-size: clamp(1.6rem, 1.3422rem + 0.4889vw, 1.7578rem);
  font-weight: 600;
  line-height: 1.2;
}

.textContainer p {
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--text-color);
}

.visitLink {
  font-weight: 600;
  display: flex;
  align-items: center;
  color: var(--purple);
  transition: all .2s ease;
  position: relative;
}

.visitLink::after {
  content: '';
  background: var(--purple);
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  transition: all .2s ease;
}

.visitLink:hover::after {
  width: 13.5%
}

.icon {
  font-size: 2.4rem;
}