.sectionContainer{
  padding-top: 12.8rem;
  padding-bottom: 9.6rem;
  background: var(--black);
  /* view-timeline: --container;
  animation: changeBg forwards;
  animation-timeline: --container;
  animation-range-start: 25%; */
}

/* @keyframes changeBg {
  0%{
    background: var(--black);
  }
  100%{
    background: #07071C;
  }
} */

.title{
  font-size: clamp(4.8rem, 2rem + 7vw, 10.8rem);
  max-width: 20ch;
  line-height: 1;
  margin: 0 auto;
  margin-bottom: 1rem;
  color: var(--white);
  text-align: center;
}



.videoContainer{
  display: grid;
  place-items: center;
}

.featuresContainer{
  padding: 4.8rem 0;
  display: grid;
  gap: 2.4rem;
  grid-template-columns: 55fr 45fr;
}

.features,
.feature{
  display: flex;
  flex-direction: column;
}

.features{
  gap: 1.6rem;
}

.feature {
    background: #101010;
  border: 1px dashed var(--purple-2);
  padding: 3.2rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  overflow: hidden;
  position: relative;
  z-index: 10;
  transition: all .3s ease-out;
}

.feature span {
  font-size: 28rem;
  font-weight: 700;
  color: var(--purple);
  opacity: .2;
  position: absolute;
  top: -65%;
  right: 0;
  transform: rotate(15deg);
}

.feature h3{
  font-size: clamp(1.6rem, 1.5041rem + 0.5793vw, 1.8rem);
  gap: .8rem;
  color: var(--purple);
  text-transform: uppercase;

}
.icon{
  font-size: 2rem;
  color: var(--green);
}

.feature p{
  font-size: clamp(1.26rem, 1.1548rem + 0.5261vw, 1.6rem);
  line-height: 1.5;
  color: var(--white);
}

.promiseTitle{
  padding: 3.2rem 0;
  color: var(--white);
  text-align: center;
  font-size: clamp(1.4rem, 1.1548rem + 0.5261vw, 1.5625rem);
  font-weight: 600;
}

@media screen and (width > 1712px){
  .title{
    font-size: 14.2rem;
  }
}

@media screen and (width < 1080px){
  .featuresContainer{
    padding: 4.8rem 0;
    gap: 2.4rem;
    grid-template-columns: 1fr;
  }

  .feature,
  .feature h3{
    text-align: center;
  }

  .videoContainer{
    order: 2;
    padding: 6.8rem 0 8rem 0;
    transform: translateY(2rem);
    margin-top: 2.4rem;
  }
}
@media screen and (width < 600px){
  .videoContainer{
    transform: translateY(2rem) scale(0.85);
  }
}


@media screen and (width < 500px){
  .title{
    font-size: 9.6rem;
  }
}
@media screen and (width < 400px){
  .title{
    font-size: 7.6rem;
  }
}