.service{
  aspect-ratio: 1/1;
  position: relative;
  color: var(--white);
  overflow: hidden;
  display: grid;
  height: 100%;
  width: 100%;
  padding: 2.4rem;
  grid-row: span 3;
  grid-template-rows: subgrid;
}


.image{
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all .3s ease;
}

.service:hover .image{
  transform: scale(1.25) rotate(5deg);
}

.service h3{
  font-size: clamp(1.6rem, 1.4125rem + 1.4375vw, 3.2rem);
  line-height: 1.2;
}

.service p{
  font-size: clamp(1.3rem, 0.8rem + 0.4vw, 1.3672rem);
  line-height: 1.35;
}

.titleContainer{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  align-self: self-end;
}

.service h2{
  font-size: clamp(2.8rem, 2.3238rem + 2.8vw, 4.2rem);
  width: 5ch;
  line-height: 1;
  font-style: italic;
}

.icon{
  cursor: pointer;
  border-radius: 50px;
  width: 4.2rem;
  height: 4.2rem;
  color: var(--purple);
  background: var(--purple-2);
  border: 2px solid var(--purple);
  transition: all .2s ease-in;
}

@media screen and (width < 550px){
  .service{
    flex-grow: 1;
  }
}