.sectionContainer{
  padding-top: 12rem;
  padding-bottom: 12rem;
  text-align: center;
    background: var(--white);
}

.title{
  font-size: clamp(5.2rem, 4rem + 7.5vw, 9.6rem);
  /* max-width: 20ch; */
  line-height: 1;
  margin-bottom: 1rem auto;
  text-align:center;
  text-wrap: pretty;
  position: relative;
}


@media screen and (width > 1712px){
  .title{
    font-size: 12.8rem;
    max-width: 20ch;
  }
}

.btn{
  margin: 1rem auto;
  padding: 1.2rem 3.6rem;
  display: inline-block;
  outline: none;
  border: none;
  color: var(--white);
  background: var(--purple);
  background: #2c2c99;
  border: 1px solid var(--white);

  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
}

.miniTitle{
  margin: 3.2rem 0 1.6rem 0;
  font-size: clamp(1.4rem , .8rem + 2vw, 1.6rem);
  color: var(--black);
  font-weight: 700;
}
