.title{
  font-size: clamp(4.8rem, 2rem + 7vw, 12.8rem);
  max-width: 20ch;
  line-height: 1;
  margin-bottom: 1rem;
}


@media screen and (width > 1712px){
  .title{
    font-size: 14.2rem;
    max-width: 20ch;
  }
}